.wrapper {
  /* display: flex; */
  margin-top: 30px;
  width: 400px;
}

.container {
  background-color: #313133;
  width: 400px;
  height: 600px;
}

.body {
  display: flex;
  flex-direction: column;
  /* width: 500px; */
}