.container {
  padding: 0 50px; /* Установите отступы 16px слева и справа, если нужно */
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.slick-dots {
  bottom: 30px; /* Задайте отступ от нижнего края изображения */
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: calc(100% - 32px); /* Учитывая отступы 16px с каждой стороны */
  display: flex !important;
  justify-content: center;
}

.slick-dots li {
  margin: 0 4px; /* Расстояние между точками */
}

.slick-dots li button:before {
  font-size: 10px; /* Размер точек */
  color: black; /* Цвет точек */
}

.slick-dots li.slick-active button:before {
  color: black; /* Цвет активной точки */
}

.slide {
  position: relative;
}

.foto {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
}