.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  background-color: #F1F1F1;
  width: 100%;
}

.serviceCard {
  position: relative;
  width: 300px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background: #9b9494;
  transition: transform 0.3s;
}

.serviceCard:hover {
  transform: scale(1.05);
}

.serviceImage {
  width: auto;
  height: 150px;
  object-fit: cover;
  margin: 0 auto;
}

.serviceText {
  padding: 20px;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.serviceText p, .serviceText input {
  margin: 5px 0;
  /* font-size: 1.2em; */
}

.serviceText input {
  background: #EEE;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  font-size: 1em;
}

.buttons {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.button {
  background: #4B4B4B;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 5px;
}

.button:hover {
  background: #333;
}

.deleteButton {
  background: #B22222;
}

.deleteButton:hover {
  background: #8B0000;
}

.expandableComment {
  max-height: 100px;
  overflow: hidden;
  transition: max-height 0.3s;
}

.expandableComment.expanded {
  max-height: none;
  
}

.commentText {
  margin-bottom: 10px;
  font-size: 20px; 
  line-height: 1.2em; 

}

.readMoreButton {
  background: #4B4B4B;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 10px;
}

.readMoreButton:hover {
  background: #333;
}