.mapContainer {
    width: 50vw; /* половина экрана по ширине */
    height: 50vh; /* половина экрана по высоте */
    margin: 0 auto; /* центрируем по горизонтали */
    background-color: #2e2e2e; /* темный фон */
    
  }
  
  .placemark {
    color: #857c7c; /* белый цвет для объектов на карте */
  }